body{
    margin: 0;
    font-family: sans-serif;
}
.wrapper{
    width: 1000px;
    margin: 200px auto;
}
.header-text{
    font-size: 42px;
    margin: 80px auto;
    width: 330px;
    background: linear-gradient(270deg, rgba(131, 58, 180, 1) 30%, rgba(253, 29, 29, 1) 40%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.info{
    font-size: 20px;
    text-align: left;
    margin-left: 130px;
    color: #32A2F5;
}
.btn{
    width: 150px;
    height: 80px;
    background-color: red;
    margin: 100px auto;
}